In [1]:
#python_array

In [12]:

data=["jugal" , "sharma" , "karan" , "kanika" , "bitch"]

data1=["chinea" , "norway" , "tiwan" , "swden"]


list=data + data1

data[0]="JUGAL SHARMA"

data.pop(1)

data.append("american")

data.sort()

data.remove("karan")


for x in list:
  print(x)


print(data)

print(list[5])

jugal
sharma
karan
kanika
bitch
chinea
norway
tiwan
swden
['JUGAL SHARMA', 'american', 'bitch', 'kanika']
chinea

In [13]:

#tubble

In [17]:

tu=("jugal" , 1 , "katana" , 0 , True)

print(tu)

('jugal', 1, 'katana', 0, True)

In [18]:
#set

In [19]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [24]:
let one="jugal"

SyntaxError: invalid syntax (2928216938.py, line 1)

In [ ]:
console.log(one)

In [25]:
x = min(5, 10, 25)
y = max(5, 10, 25)

print(x)
print(y)

5
25