In [1]:
#oops class start

In [7]:
class One:
    
    def __init__(self , name , gender , classs):
        
        self.name = name;
        
        self.gender = gender;
        
        self.classs = classs;
        
        
#     def employees(self):
        
#         print("thisis my name " , self.name)
        
#         print(self.gender)
        
#         print(self.classs)

In [8]:
e1=One("jugal sharma" , 22 , "10th")

In [14]:
e1.gender  # e1.employees() second method

22

In [16]:
#inheriting

In [21]:
class Vehicl:
    
    def __init__(self , milage , cost):
        
        self.milage = milage;
        
        self.cost = cost;
        
    def  info(self):
        
        print("this is milage my car",self.milage)
        
        print("this is cost my car" , self.cost)

In [22]:
car=Vehicl(500 , 500)

In [25]:
car.info()

this is milage my car 500
this is cost my car 500

In [43]:
class Car(Vehicl):
    
    def __init__(self , milage , cost , name , gender): # cost milage parents
        
        super.__init__( milage , cost )## individual
        
        self.name = name
        
        sel.gender=gender
    
    def Info(self):
        
        
        print("i am a car")

In [44]:
c1=Car(2500 , 2500 , "jugal" , "male");

TypeError: descriptor '__init__' requires a 'super' object but received a 'int'

In [45]:
c1.Info()

i am a car

In [39]:
c1.info()

this is milage my car 2500
this is cost my car 2500

In [46]:

#override

In [75]:
class Var(Vehicl):
    
    def __init__(self , milage , cost , hp , tyres): # cost milage parents
        
        super().__init__( milage , cost )## individual
        
        self.hp = hp
        
        self.tyres=tyres
    
    def Vnfo(self):
        
        
        print("this is my hp" , self.hp)
        
        print("this is my tyres" , self.tyres)

In [76]:
c2=Var(600 , 8000 , 1000, 900)

In [77]:
c2.Vnfo()

this is my hp 1000
this is my tyres 900